flask
flask_sqlalchemy
flask_cors
flask_caching
flask_migrate
flask_wtf
python-dotenv
requests
yfinance
pandas
numpy
beautifulsoup4
newsapi-python
transformers
torch
nsepython
feedparser
werkzeug
gunicorn
psycopg2-binary